.sconsign.dblite
compile_commands.json
build/*
!build/.gitkeep
dist/*
!dist/.gitkeep
dependencies/*
!dependencies/.gitkeep

!dependencies/SFML-master/dist/.gitkeep
!dependencies/fruit-3.7.1/dist/.gitkeep

